In [9]:
dict1={
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}

In [10]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [11]:
#access "Mike"
dict1['april_batch']['student']['name']

'Mike'

In [12]:
#access 80
dict1['april_batch']['student']['marks']['python']

80

In [15]:
dict1['april_batch']['student']['name']='Arpitha'
dict1

{'april_batch': {'student': {'name': 'Arpitha',
   'marks': {'python': 80, 'maths': 70}}}}

In [26]:
#add ML=80 and DL=80 inside marks
dict1['april_batch']['student']['marks']['ML']=80
dict1

{'april_batch': {'student': {'name': 'Arpitha',
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [27]:
dict1['april_batch']['student']['marks']['DL']=80
dict1

{'april_batch': {'student': {'name': 'Arpitha',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}